body {
  margin: unset;
}

.centralizar {
  display: flex;
  justify-content: center;
}

#cabecalho-imagem {
  width: 50%;
}

#titulo-pagina {
  text-align: center;
}

.conteudo {
  padding: 32px;
  width: 50%;
}

p {
  text-align: justify;
}

footer {
  display: flex;
  justify-content: center;
}

.conteudo-principal {
  display: flex;
}