* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: black;
  justify-content: space-around;
}

.line {
  display: flex;
}

.item {
  flex: 1;
  width: 100px;
  height: 80px;
  margin: 10px;
  background: rgb(96, 18, 116);
  border: white;
  padding: 16px;
  text-align: center;
  color: white;
}