body {
  margin: 0;
  padding: 0;
  background-color: rgb(143, 150, 146);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 94vh;
  color: white;
  text-align: center;
  grid-gap: 12px;
  height: 100vh;
  padding: 20px 20px 0px 20px;
}

nav {
  background: black;
  grid-column-start: 1;
}

main {
  background: rgb(121, 4, 4);
  grid-column-start: 2;
  grid-column-end: 3;
}

sidebar {
  background: rgb(80, 20, 92);
  color: white;
  grid-column-start: 3;
}